@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&family=Open+Sans:wght@300&display=swap");

@font-face {
  font-family: "Agustina";
  src: url("/fonts/Agustina.otf");
}

html {
  scroll-behavior: smooth;
}
#section {
  p {
    margin-bottom: 1.5rem !important;
  }

  ol {
    margin: 1rem !important;
  }

  h1 {
    font-size: 2rem !important;
  }

  h2 {
    font-size: 1.8rem !important;
  }
}
